<?xml version="1.0" ?>
<model>
    <name>April_tag</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Gabriel de Souza Fernandes</name>
        <email>gfernandes10@hotmail.com.br</email>
    </author>
    <description>An April tag</description>
</model>
